<div class="container">
<h2 class="center"> Contact Us </h2>

<p class="bold">This is an awesome product!
</p>
<p>Lorem ipsum dolor sit amet, nibh iisque at mea, pri mutat putant accommodare cu, eos alia sonet ei.</p>


<p>Lorem ipsum dolor sit amet, nibh iisque at mea, pri mutat putant accommodare cu, eos alia sonet ei. Eam probatus gloriatur incorrupte ea. An augue ornatus facilisi duo, ei etiam erroribus usu. Harum legere delicata te quo. Ex per verear deseruisse, id causae equidem labores pri. Ad qui magna aliquam vivendo, in mutat nostrum delicatissimi nec. Vim sint ancillae sensibus ut, est verear placerat ex, veri dicat accommodare ea sed.

Ei scripserit inciderint mea, stet tritani at vix. Vim audire singulis philosophia ea, nostro omnium id has. Vix ad tale meis laudem. Has assum animal repudiandae et. Mei ferri bonorum ad. Cu eum civibus torquatos. Id vix doctus meliore electram.</p>

<p>Email: <a href="mailto:you@email.com">email@email.com</a></p>
<p>Facebook: <a href="https://facebook.com/YourCompany">facebook.com/YourCompany</a></p>
</div>