<div class="container">
<h2 class="center"> Contact Us </h2>

<p class="bold">Would you like to use PhantomRunner to host your race?</p>
<p>You can! Email us, and we'll upgrade your account to Race Director status (it's still free), so you can gain access to our Race Director tools.</p>
<p>Perfect if you are:
1) a non-profit, a business, a small group, or an individual trying to fundraise or host a non-traditional fitness event
2) a traditional race director that would like to incorporate a virtual component to your race
3) a running club or fitness club that would like to hold virtual races for your members</p>

<p>Email: <a href="mailto:reply@phantomrunner.com">reply@phantomrunner.com</a></p>
<p>Facebook: <a href="https://facebook.com/PRvirtualracing">facebook.com/PRvirtualracing</a></p>
<p>Twitter: <a href="https://twitter.com/PhantomRunner6">@PhantomRunner6</a></p>


</div>