<div class="container" ng-controller="RegisterCtrl">
  <form ng-submit="register()" name="registerForm">
    Email
    <input type="text" data-ng-model="email"></input>
    <br>

    Password
    <input type="password" data-ng-model="password"></input>
    <br>


    Confirm Password
    <input type = "password" data-ng-model="passwordConfirm"></input>
    <br>

    <button class="btn">
      Complete Registration
    </button>
  </form>
</div>

<br>
<br>

<div class="container" ng-controller="LoginCtrl">
  <form ng-submit="login()" name="loginForm">
    Username
    <input type="text" data-ng-model="email"></input>
    <br>

    Password
    <input type = "password" data-ng-model="password"></input>
    <br>
    <label class="checkbox">
      <input type="checkbox" data-ng-model="rememberme"> Remember Me
    </label>
    <br>

    <button class="btn">
      login
    </button>
  </form>

<br>
<br>

<div class="container" ng-controller="NavCtrl">

    <button class="btn" ng-click="logout()" name="logoutButton">
      Click here to logout
    </button>
</div>