<div class="navbar navbar-fixed-top" data-ng-controller="NavCtrl">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/" class="brand">
        <img alt="Phantom Runner Logo" src="assets/logo.png">
      </a>
      <div id="account-links" class="pull-right">
        <a class="btn btn-dropdown-toggle">
          {{user.username}} text
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#/account" id="my-account">My Account</a>
          </li>
          <li>
            <a href="#/races/my-races" id="my-races">My Races</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#/users/sign_out" data-method="DELETE" id="sign-out" rel="nofollow">Sign Out</a>
          </li>
        </ul>
      </div>
    <ul class="nav nav-pills">
      <li><a href="/" active-link="active">Home</a></li>
      <li class="dropdown">
        <a href="#/races" active-link="active">Races</a>
        <ul class="dropdown-menu">
          <li><a href="#/races" >Upcoming Races</a></li>
          <li><a href="#/races/past-races">Past Races</a></li>
          <li class="divider"></li>
          <li><a href="#/races/my-races">My Races</a></li>
        </ul>
      </li>
      <li><a href="#/how" active-link="active">How It Works</a></li>
      <li><a href="#/faq" active-link="active">FAQ</a></li>
      <li><a href="#/contact" active-link="active">Contact Us</a></li>
    </ul>
  </div>
</div>
</div>