<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- <div class="container" ng-controller="RegisterCtrl"> -->
  <form ng-submit="register()" name="registerForm">
    Email
    <input data-ng-model="email"></input>
    <br>

    Password
    <input data-ng-model="password"></input>
    <br>


    Confirm Password
    <input data-ng-model="passwordConfirm"></input>
    <br>

    First Name
    <input data-ng-model="firstName"></input>
    <br>


    Last Name
    <input data-ng-model="lastName"></input>
    <br>

    <button>
      Complete Registration
    </button>
  </form>
<!-- </div> -->

<br>
<br>




<div class="container" ng-controller="LoginCtrl">

  <h2>Login</h2>
  <form ng-submit="login()" name="loginForm">
    Username
    <input type="text" name="email"></input>
    <br>

    Password
    <input type="password" name="password"></input>
    <br>
    <label class="checkbox">
      <input type="checkbox" data-ng-model="rememberme"> Remember Me
    </label>
    <br>

    <button>
      login
    </button>
  </form>


</div>
<br>
<br>

<div class="container" ng-controller="NavCtrl">
    <button ng-click="logout()" name="logoutButton">
      Click here to logout
    <button>
</div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 

</body>