body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

ul {
    list-style: none;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.index-hero {
    margin-top: 100px;
}

 .index-hero h1 {
    text-align: center;
}

.hero-img {
    width: 100%;
}

.main {
    margin-top: 112px;
}

.raceBox {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 10px;
}

#how {
    display: block;
    width: 75%;
    margin: 0 auto 0 auto;
}

.center {
    text-align: center;
}